[2016-12-05 02:31] dalanlan opened #1 "containerized poseidon: memory corruption"
@ms705 Hi there!
Thank you so much for your amazing work (again). I've tried to bring up poseidon in docker, yet it seems to suffer some memory issue after it started to run for 2~3 min.
Please kindly take a look at the log if possible. Thanks so much.

[code]

[2016-12-05 02:33] dalanlan commented on #1
And I do apologize for not trying hard enough to bring down kube-scheduler, which could cause some chaos here. That's because it's guarded by docker daemon, and a simple `docker stop` won't help much.

[2016-12-05 03:43] ms705 commented on #1
@dalanlan Thanks for reporting this! The memory corruption definitely looks scary, let's try to get to the bottom of this.

A couple of questions on your setup:
 1. Did you build the Poseidon image yourself, or did you download the image from DockerHub?
 2. What cluster setup and workload are you running? I can see some k8s internal pods in the log, but also busybox. Are all these pods pre-existin

[2016-12-07 01:58] dalanlan commented on #1
@ms705 Thank you so much for the quick response!

Actually I tried to restart the container again and it didn't crash until now. However I was thinking it could help somehow to expose more information here, which I should do long before.

[code]
I tried to build my own image from the HEAD several days ago, but one thing that definitely make my life miserable is that I have to struggle with the poo

[2016-12-07 02:22] dalanlan opened #2 "Unexpected dense task placement for k8s cluster"
Hi, I was running a containerized poseidon with camsas/poseidon:dev on the master node of a k8s cluster. Yet since it was properly brought up (or at least that's what I thought), it cannot help scheduling every pod onto the master node (`10.10.103.67` in this case, as you could see in the log) while the  other two worker nodes are completely lack of workload. The three machines involved are homoge

[2016-12-07 02:29] ms705 commented on #1
@dalanlan Ok, glad it works better now!

This reminds me, however, that we haven't pushed an updated Docker image in a while, even though things have advanced. I'll build and push one now.

[2016-12-07 02:47] dalanlan commented on #2
Sorry again that I am being vague here. The example pods I am trying to run are from k8s doc[https://github.com/kubernetes/kubernetes/tree/master/examples/guestbook]. They r not computation or I/O sensitive to me, no, but I just want to make sure it's not like the case that poseidon *cannot* see other options but the machine resource it runs on.

[2016-12-07 04:22] ms705 commented on #1
New Docker image pushed to `camsas/poseidon:dev`; please give it a try.

[2016-12-07 05:39] dalanlan commented on #1
@ms705  Thank you so much
Any luck you could take a look at #2 please?

[2016-12-07 05:55] ms705 commented on #2
@dalanlan This is entirely plausible: depending on the value of `--max_tasks_per_pu` that you use (the default is 10), the scheduler may put several pods on each machine.

The specific policy applied depends on what cost model the Firmament library uses under the hood. This is read from [the `--flow_scheduling_cost_model` flag](https://github.com/camsas/firmament/blob/master/src/scheduling/flow/fl

[2017-05-21 06:36] xiechengsheng opened #3 "k8s_api_client.cc: Exception while waiting for pod list: not an object"
Hello, I pulled your camsas/poseidon:dev docker image and wanted to have a try, I used the follow command:
[code]

But then an exception occurred, here were the logs:
[code]

And here are my pods in my k8s cluster:
[code]

And I looked into the poseidon's source code, it seemed that the APIClient couldn't get the cluster's pods:
[Poll pods](https://github.com/camsas/poseidon/blob/d47fb8ed69762d0d9

[2017-05-23 10:50] ICGog commented on #3
The Docker image was several months out of date. Since then we've re-implemented Poseidon in Go. Can you please follow the new instructions to deploy [Poseidon](https://github.com/camsas/poseidon/#getting-started) and [Firmament](https://github.com/camsas/firmament/blob/master/README.md#running-the-firmament-scheduler-service)?

[2017-05-23 12:11] xiechengsheng commented on #3
1. Thanks for reply. Yes, I have done this~
2. But I don't kown how to configure some startup parameters in the new instructions. I have read the [firmament_scheduler.cfg](https://github.com/camsas/firmament/blob/master/config/firmament_scheduler.cfg) file in firmament, but it seems that the parameter `--firmamentAddress=<host>:<port>` has been configured in the startup parameter `--kubeConfig=<pa

[2017-06-02 18:21] ms705 commented on #3
@xiechengsheng

The `--kubeConfig` parameter is not the same as `--firmamentAddress`. `kubeConfig` points to the Kubernetes configuration file (`kubeconfig.cfg`) for your cluster, while `firmamentAddress` is the host-port combination of the Firmament gRPC scheduler service (the `firmament_scheduler` binary, likely running in the Firmament docker container).

`statsServerAddress`, I think, refers t

[2017-06-03 04:59] xiechengsheng commented on #3
@ms705 Thanks, I will try to run it again and read the source code to know more about Poseidon.

[2017-06-03 10:58] ICGog commented on #3
@xiechengsheng @ms705 `statsServerAddress` is the address on which Poseidon listens for statistics sent by our Poseidon Heapster sink (currently under implementation in [https://github.com/camsas/heapster](url)).

[2017-06-06 02:02] ms705 commented on #3
Closing this; reopen if there are remaining questions.

[2017-06-06 02:02] #3 closed

[2017-06-06 02:04] ms705 commented on #1
Closing, as no longer relevant -- Poseidon has moved to Go, and the docker images have been updated.

Let us know if any questions remain, or if you encounter issues with the new code.

[2017-06-06 02:04] #1 closed

[2017-06-06 02:04] ms705 commented on #2
Closing, as things have moved on (although above still remains essentially valid).

Let us know if any questions remain, or if you encounter issues with the new code.

[2017-06-06 02:04] #2 closed

[2017-09-04 02:53] ravisantoshgudimetla opened #5 "Firmament scheduler throws error when run with 1.7 kubernetes"
I am facing a strange issue when using firmament container.

Observations:
Kubernetes version :  1.7

Firmament created using:
[code]
Poseidon able to connect to firmament and kubernetes.

Poseidon created using:
[code]
In standard out, I am able to see that both nodes and pods are being successfully watched and task is being submitted to firmament scheduler:

[code]

In firmament stdout, I see th

[2017-09-06 15:09] ms705 commented on #5
Hi @ravisantoshgudimetla,

This is odd -- the Docker image has worked fine for us in the past. @ICGog says he'll look into this; I may have time to have a look this weekend if it's not been resolved by then.

[2017-09-06 15:40] ICGog commented on #5
Hi @ravisantoshgudimetla,

Firmament is crashing because the path to the Flowlessly binary is relative to the directory from which you're running firmament. In your case you're running from /, which means that you should pass `--flow_scheduling_binary=/firmament/build/third_party/flowlessly/src/flowlessly-build/flow_scheduler` instead of `--flow_scheduling_binary=/build/third_party/flowlessly/src/

[2017-09-07 12:13] ravisantoshgudimetla commented on #5
Thanks @ms705 @ICGog. It worked with by passing the `--flow_scheduling_binary` flag. I am closing this issue.

[2017-09-07 12:13] #5 closed

[2018-01-08 11:02] LernaeanHydra opened #6 "Question about flag content in Docker run command"
Hello @ICGog @ms705 ,
  I wanna integrate Firmament with Kubernetes running locally, however, I got confused when I  tried to run this command:
$ docker run camsas/poseidon:dev poseidon \
    --logtostderr \
    --kubeConfig=<path_kubeconfig_file> \
    --firmamentAddress=<host>:<port> \
    --statsServerAddress=<host>:<port> \
    --kubeVersion=<Major.Minor>

I don't know how to fill in path_kube

[2018-03-05 05:10] dhilipkumars opened #7 "[k8s Incubation] Requesting project transfer"
Hi @ms705 and @ICGog,

As discussed and agreed over the email, could you please initiate the transfer to [this](https://github.com/kubernetes-sigs) new github organization and to [Tim](https://github.com/timothysc) please?  This will be first step of incubating Poseidon into kubernetes eco-system.

Approvers (People with Commit access): @ms705 @ICGog @shivramsrivastava
Revieweres (People who can l

[2018-03-05 15:22] timothysc commented on #7
The transfer needs to be sent to the https://github.com/kubernetes-sigs  org.

I've started a team https://github.com/orgs/kubernetes-sigs/teams/kubernetes-sig-scheduling but can't do much until the transfer is done.

[2018-03-05 15:49] ms705 commented on #7
Happy to do the transfer, but if I try to transfer the repo directly to `kubernetes-sigs`, I get told

Should we transfer it to @timothysc initially, or is there another way?

[2018-03-07 00:55] timothysc commented on #7
try transferring to me 1st then I can transfer to the org, please make sure you keep a backup too.

[2018-03-07 01:27] ms705 commented on #7
I'll try transferring it to me, then to you.

[2018-03-07 01:39] timothysc commented on #7
Looks like it's transferred!  I'll update names and owners in a bit.

[2018-03-07 01:39] #7 closed

[2018-03-07 06:29] dhilipkumars commented on #7
Cool Congratulations all this is an official kubernetes incubation project now. :-)

Hi @timothysc, How do we become part of this organization? would you be able to invite us?

[2018-03-08 15:44] dhilipkumars opened #8 "[RFC] Software Release Management Proposal"
Hi All,

Here is the initial draft of software release management workflow for Poseidon and Firmament.

https://docs.google.com/document/d/1rUkFFD4JB-jDjZhWv62El0_6h7o89GawIIjzNDa0Lyo/edit?usp=sharing

cc: @shivramsrivastava @timothysc @ICGog @ms705 @deepak-vij

[2018-03-13 21:48] deepak-vij commented on #8
Hi Malte/Ionel, a gentle nudge regarding getting your feedback/comments on the proposed release process for Firmament codebase. We look forward to hearing from you. Accordingly, we will proceed with follow on steps within CAMSA/Firmament environment. Thanks.

Regards,
Deepak Vij

cc: @shivramsrivastava @timothysc @ICGog  @ms705 @dhilipkumars

[2018-03-14 21:36] bgrant0607 opened #13 "The scheduling_ prefix to the repo name is no longer required"
Feel free to rename the repo.

[2018-03-14 21:42] deepak-vij commented on #13
This is great. Thanks Brian.
@timothysc, should we go ahead and rename it ourselves or you need to do that? Thanks.

cc: @shivramsrivastava @timothysc @ICGog @ms705 @dhilipkumars

[2018-03-15 02:18] wgliang opened #14 "Maybe we need more documentation and architectural design instructions for scheduling_poseidon"

[2018-03-15 02:25] deepak-vij commented on #14
Please be patient. We are still in the process of setting up the environment. We will publish all related details as soon as possible. Thanks.

[2018-03-15 02:53] wgliang commented on #14
Looking forward to it.

[2018-03-16 06:20] dhilipkumars commented on #13
It is done now. Please close this issue.

[2018-03-16 06:31] dhilipkumars opened #16 "Maintainer rights"
Hi @timothysc @bgrant0607 @spiffxp

As maintainers of this project, we need the ability
1. close issues / PRs
2. update issues and PR titles
3. Add remove labels on the issues.

We do not have such rights as an external collaborator.  What is the best way to go about it?

maintainers: @shivramsrivastava @ICGog @irfanurrehman @shashidharatd @dhilipkumars

[2018-03-16 07:16] dhilipkumars commented on #16
/assign @timothysc

[2018-03-16 14:26] #13 closed

[2018-03-16 14:33] bgrant0607 commented on #16
@dhilipkumars Have you tried the bot commands?

/joke

https://prow.k8s.io/command-help.html

[2018-03-16 14:34] bgrant0607 commented on #16
/assign dhilipkumars

[2018-03-16 14:37] bgrant0607 commented on #16
I don't see a problem with adding people to the org, but we're trying to minimize the number of people with direct write access to repos.

@spiffxp Do you have a guideline for who needs access?

[2018-03-16 15:44] timothysc commented on #16
+1 to bot commands.

I also updated you to write access.  FWIW is gave the rights that @deepak-vij had requested.

[2018-03-17 06:10] dhilipkumars commented on #16
Thanks @bgrant0607 and @timothysc
Now im able to close and edit issues PRs topic and will also be able to close them.

/close

[2018-03-17 06:10] #16 closed

[2018-03-19 12:34] Violet-Guo commented on #14
Looking forward to it.

[2018-03-21 22:53] ms705 commented on #8
The proposed release process looks fine to me, although it seems unnecessary to have Firmament and Poseidon releases necessarily be in lockstep (there may be no need to cut a Firmament release if nothing has changed).  However, if it simplifies things and @ICGog agrees, that's fine by me.

Presumably the later sections of the document are still to come?

[2018-03-21 22:58] deepak-vij commented on #8
Agree Malte, release process should detect this and create a new release for Firmament or Poseidon only if there are any changes made to them. We will keep that in mind once we start building out the release process. thanks.

[2018-03-23 05:57] ICGog commented on #8
Yes, I agree. I see no reason why do couple the Firmament and Poseidon releases.

The other thing worth mentioning is that we're already using Travis CI to build after each commit and run the tests [Poseidon CI](https://travis-ci.org/camsas/poseidon). I think we should probably extend that CI, unless we have better CI alternatives. This CI is also configured to show nice [code coverage](https://co

[2018-03-23 17:18] deepak-vij commented on #8
Hi Ionel, thanks for your comment. Although, I am confused a bit. IIUC, what you are suggesting is that we keep Poseidon unit testing coverage in Travis CI. What we are currently planning is the following:
1) Firmament unit testing stays in CamSaS
2) Poseidon unit testing as part of the new incubation repo. Shiva is already working towards it and scheduled to wrap this task up early next week.
3)

[2018-03-25 07:27] lioncruise commented on #14
Looking forward to it.

[2018-03-25 07:38] lioncruise opened #20 "Add comment to more functions and critical code blocks"
Recently I'm gonna do some secondary development on poseidon project, I find that few comments are in the project, which makes it harder to understand some complex functions or code blocks or causes some misunderstand. Good comments make reading source code more efficient, which could attract more community contributions. I'm appreciated if adding more and complete comments could be put on agenda.

[2018-03-25 15:38] dhilipkumars commented on #14
Hi all, could you all please check the latest documentation update. If the documentation is sufficient we can close this.

[2018-03-25 15:45] dhilipkumars commented on #20
Hi !
Totally agreed. We are working on it, our first focus is on integration test suite and improving UT coverage at the moment. Once that is done we will work on this.

However please feel free to raise a PR with docs/comments for the easy once (those funcs you understood ) and add a TODO for those for which you need more clarity.

[2018-03-25 15:46] dhilipkumars commented on #6
Hi All,

Is this issue relevant now ?

[2018-03-26 14:55] dhilipkumars commented on #8
@ms705 and @ICGog, Kubernetes ecosystem has built its own CI / CD pipeline jobs and bots which is far more friendly to K8s specific jobs.  Like bringing up a k8s cluster and running tests against it.  etc.,   We will endup doing a lot of work if we had to replicate what the k8s ci system is currently doing.  Plus the cluster environments are sig sponsored.  we could keep the travis ci as additiona

[2018-03-30 04:05] wgliang opened #24 "Unfriendly import packages of github.com/kubernetes-sigs/poseidon/pkg"
Just like:
https://github.com/kubernetes-sigs/poseidon/blob/master/docs/devel/README.md

Developers need to create new k8s.io directory under $GOPATH, but usually developers will directly fork poseidon to their $GOPATH/src/github.com/username/poseidon. If there is no k8s.io directory, go build will fail. If the developer modifies the code under github.com/kubernetes-sigs/poseidon/pkg, the changed

[2018-04-02 02:34] shivramsrivastava commented on #24
We follow the same workflow as mentioned [here](https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md).

![Workflow](https://github.com/kubernetes/community/blob/master/contributors/guide/git_workflow.png)

One should follow the 'working_dir' pattern as mentioned above, others won't work.

1. Fork from the [here](https://github.com/kubernetes-sigs/poseidon)
2. C

[2018-04-08 03:37] m1093782566 commented on #20
I would like to offer help to this task since it's also a good opportunity to familiar with the code base for the beginner.

[2018-04-09 02:34] deepak-vij commented on #20
That would be really great Dujun. As Shiva is working on automating the e2e testing process for the new repo, it would be great to pick up the slack on the documentation/comments of the current codebase. Do reach out if you have any questions or need clarifications.

@shivramsrivastava @ICGog

[2018-04-09 02:36] m1093782566 commented on #20
Thanks @deepak-vij

[2018-04-09 04:17] shivramsrivastava commented on #20
@m1093782566 Thanks for helping us.
I would suggest starting with the lint comment errors.
It would be great to see a PR for that.

[2018-04-09 05:41] m1093782566 commented on #20
@shivramsrivastava

Thanks your suggestion, I will send a PR soon :)

[2018-04-09 06:35] resouer commented on #20
I read this paper before, it’s a much interesting task than ipvs. Please
keep doing this and be free to let me know if u have any problem in
scheduler.

DuJun <notifications@github.com>于2018年4月8日 周日下午10:41写道：

[2018-04-16 08:25] jiaxuanzhou opened #34 "Add pprof port to debug the performance of poseidon"
As a runtime component within k8s cluster, need to provide the capacity of pprof debug api to the SAs.

[2018-04-16 17:10] shivramsrivastava opened #36 "Road map for E2E test in Poseidon"
I have created a Google doc [here](https://docs.google.com/document/d/1kUN3te-4p8QsnTyLKoRX20ylnC4uuRlYbWIc8g9KrP8/edit?usp=sharing), for discussing on the road map for the Poseidon E2E.
Please comment on the Google doc or in this issue directly.
If you feel it needs more addition please add those sections in the Google doc.
This is the list is not exhaustive but is a list of things which i feel w

[2018-04-17 03:34] jiaxuanzhou commented on #34
/kind reature

[2018-04-17 03:35] jiaxuanzhou commented on #34
/kind feature

[2018-04-17 08:08] m1093782566 opened #38 "Create the official release for poseidon"
With the rapid development of the project, it is necessary for us to periodically public the poseidon release. So I propose:

* release cycle: monthly?

* release content:
  - zip and tar packages of source code.
  - a docker image link, e.g. gcr.io/google_containers/poseidon-{ARCH}:{Version}. Supported ARCHs are amd64, arm, arm64, ppc64le, s390x and relase version is in the format of x.y.z.
  - a

[2018-04-17 08:43] jiaxuanzhou opened #40 "[feature] Ability to gracefully quit once received a INT signal"
1, when there is a signal of os.syscall like (syscall.SIGINT, syscall.SIGTERM, syscall.SIGHUP), poseidon should complete the schduling jobs then gracefully shut down the service

[2018-04-17 08:49] shivramsrivastava commented on #38
@m1093782566 Thanks for coming up with a release structure.

For few months at the beginning of the project we can have monthly release cycle, but later we can relax them and make it as and when there are some changes or bug fixes.
@shashidharatd

Do we need to support so many architectures?
We can support Poseidon on various mentioned architecture, but I am not sure if we can support those in Fir

[2018-04-17 08:56] shashidharatd commented on #38
Releasing frequently does not make sense unless there is lot of development. is there a roadmap for poseidon @shivramsrivastava ?

[2018-04-17 08:58] shivramsrivastava commented on #38
@shashidharatd Yes we have one [here](https://github.com/kubernetes-sigs/poseidon#roadmap).

[2018-04-17 09:05] m1093782566 commented on #38
Make sense to me.

[2018-04-17 09:07] shashidharatd commented on #38
@m1093782566, i don't think there is a need to build release for so many architectures. My suggestion is to start with one i.e. `amd64`.
Also we could keep the saved tarball of container image apart from hosting the container image.
For hosting the container image under k8s.gcr.io, i am not aware of the policies.

[2018-04-17 09:25] shashidharatd commented on #38
@m1093782566, saving the container image in release package would increase the size of package considerably. So this can be pursued if we are not able to come up with vanity name for our poseidon container image within `k8s.gcr.io`.
Here is some discussion related to naming these images based on SIGs. I am not sure it is concluded.
https://groups.google.com/forum/#!msg/kubernetes-dev/zd3tySzuT9g/H

[2018-04-23 11:19] marceloamaral opened #43 "Cannot build poseidon"
I have tried to build poseidon by several different ways and no one has worked for me.

First, I tried the "go build ." and a got the following error:
can't load package: package k8s.io/poseidon: no Go files in /home/go/src/k8s.io/poseidon
I tired to google that, but could't fix it, do you know what is it missing?

Second, i just tried a simple "make", then, it does not find the kubernetes package

[2018-04-23 13:16] marceloamaral commented on #43
Thanks @shivramsrivastava both ways worked for me!

Just a minor comment in the case someone else has a similar problem. To build with go, the documentation says to place poseidon in "$GOPATH/k8s.io/poseidon", but it should be in "$GOPATH/github.com/kubernetes-sigs/poseidon". It seems obvious but I took sometime to figure out. ;)

[2018-05-03 01:46] shivramsrivastava commented on #43
@marceloamaral we have updated the [documentation](https://github.com/kubernetes-sigs/poseidon/blob/master/docs/devel/README.md).

[2018-05-03 01:50] shivramsrivastava commented on #36
Closing this issue as its already done.
Please refer the documentation (https://github.com/kubernetes-sigs/poseidon/blob/master/docs/devel/README.md).

[2018-05-03 01:50] #36 closed

[2018-05-03 01:53] shivramsrivastava commented on #43
Closing this issue as it's resolved for you.
If you still have any issues with documentation, please raise an issue, we will fix them.

Thx

[2018-05-03 01:53] #43 closed

[2018-05-03 05:45] shivramsrivastava commented on #6
@LernaeanHydra We have updated the [documentation](https://github.com/kubernetes-sigs/poseidon/tree/master/docs/devel), it has all the info on how to run poseidon.

You can refer to this [section](https://github.com/kubernetes-sigs/poseidon/tree/master/docs/devel#running) on running poseidon docker container.

```path_kubeconfig_file``` is required to connect to the running local k8s cluster.
   I

[2018-05-03 05:45] #6 closed

[2018-05-07 17:50] deepak-vij opened #50 "Support for Node level Affinity and Anti-Affinity"
Enable Node level affinity & anti-affinity functionality within Firmament scheduler as per the Kubernetes Node level affinity and anti-affinity Pod definitions.

[2018-05-07 17:52] deepak-vij opened #51 "Support for Pod level Affinity and Anti-Affinity"
Enable Pod level affinity & anti-affinity functionality within Firmament scheduler as per the Kubernetes Pod level affinity and anti-affinity Pod definitions.

[2018-05-07 17:55] deepak-vij opened #52 "Support for Taints and Tolerations"
Enable Taints & Tolerations functionality within Firmament scheduler as per the Kubernetes Taints & Tolerations definitions.

[2018-05-07 18:01] deepak-vij opened #53 "Support for Firmament Scheduling based on real-time metrics from Metrics Server API"
Enable support for Firmament Scheduling based on real-time metrics from Metrics Server API. Currently Firmament uses new Heaspter sink for Poseidon to this regards. As Heapster is going to be deprecated, we need to transition to Metrics Server API instead.

[2018-05-07 18:03] deepak-vij opened #54 "Support for Priority based Pre-emption"
Enable support for Priority based Pre-emption as part of Firmament Scheduler.

[2018-05-07 18:05] deepak-vij opened #55 "Support for Gang scheduling"
Enable support for Gang scheduling within Firmament Scheduler. Some jobs cannot make progress unless all their tasks are running (for example, a synchronized iterative graph computation), while others can begin processing even as tasks are scheduled incrementally (e.g. a MapReduce job).

[2018-05-07 18:07] deepak-vij opened #56 "Support for High Availability/Failover of in-memory Firmament/Poseidon processes"
Enable High Availability/Failover capability for in-memory Firmament/Poseidon processes.

[2018-05-07 18:08] deepak-vij opened #57 "Support for continuous running scheduling loop"
Enable support for continuous running scheduling loop versus current scheduling intervals mechanism within Firmament Scheduling.

[2018-05-08 03:51] m1093782566 commented on #38
The Poseidon release is already available now.

[2018-05-08 03:51] #38 closed

[2018-05-11 15:26] kevin-wangzefeng opened #60 "State where we are and revise roadmap to help the project better moving forward"
As discussed yesterday, to help the project better moving forward, we shall:

**1. State where we are** (with details)
+ Add description of the project development stage -- I'd say alpha or pre-alpha?
Since we not yet pass all scheduling conformance tests.

+ Figure out how far away behind the default scheduler at functionality wise.
The best way to do is run scheduling e2e test from the core repo

[2018-05-11 15:30] kevin-wangzefeng commented on #60
/cc @deepak-vij @m1093782566

[2018-05-11 15:40] deepak-vij commented on #60
@kevin-wangzefeng thanks for your feedback. Roadmap items timelines which we initially planned got thrown off due to time we spent in resolving test.infra set up related issues. In any case, we will revise the timelines and reflect the exact  timelines shortly.

I agree with your other suggestions too, we will incorporate your suggestions as we move forward. Thanks.

[2018-05-11 19:57] deepak-vij commented on #8
@shivramsrivastava is in the process of incorporating a new section on the main read.me page that captures all details for coordinating Firmament & Poseidon repos. He should be done soon.

[2018-05-11 20:00] deepak-vij commented on #14
We have added reasonably good documentation now. I am closing this issue for now. Thanks.

[2018-05-11 20:11] deepak-vij commented on #60
@kevin-wangzefeng we have already incorporated most of your suggestions in our repo. Shiva is in the process of enabling CI status indicator from test.grid.

In regards to running e2e tests against K8S core, current setup is hardwired for running these tests using default scheduler. We would need to repurpose the test script so that these tests run using Poseidon/Firmament scheduler instead. This

[2018-05-11 20:54] deepak-vij opened #62 "Add CI status to the repo. using Travis"

[2018-05-11 20:55] deepak-vij opened #63 "Run core e2e tests in the local cluster environment."

[2018-05-11 21:10] deepak-vij opened #64 "Use config. file instead of flag/parameters."

[2018-05-11 21:11] deepak-vij opened #65 "Make gRPC communication between Posidon & Firmament secure."

[2018-05-11 21:12] deepak-vij opened #66 "Auto detect and fetch K8S version from K8S cluster instead of using Kube version flag."

[2018-05-11 22:19] deepak-vij commented on #8
See the following link for description of coordinated release process in order for Firmament & Poseidon repos to work together in lockstep. We also incorporated all this as part of the read.me page. Closing this issue now.

https://github.com/kubernetes-sigs/poseidon/blob/master/docs/releases/release-process.md

[2018-05-11 22:19] #8 closed

[2018-05-11 23:26] deepak-vij commented on #60
Hi Kevin, this is to let you know that Shiva has addressed the CI status issue you raised earlier. see the following issue for more details.

https://github.com/kubernetes-sigs/poseidon/issues/62

[2018-05-12 01:06] wgliang commented on #14
Ok, Thanks great work.

[2018-05-12 01:06] #14 closed

[2018-05-14 03:10] m1093782566 commented on #63
@deepak-vij Could you please describe this task a bit more?

[2018-05-14 03:28] m1093782566 commented on #40
/cc @hanxiaoshuai

[2018-05-14 03:56] m1093782566 commented on #66
/cc @islinwb @hanxiaoshuai

[2018-05-14 03:57] m1093782566 commented on #64
/cc @islinwb @hanxiaoshuai

[2018-05-14 03:59] m1093782566 commented on #53
/cc @islinwb @hanxiaoshuai

[2018-05-14 12:50] kevin-wangzefeng commented on #60
Cool :+1:

[2018-05-14 13:09] kevin-wangzefeng commented on #60
Actually you can:
1. spin up a k8s cluster with whatever scripts you use
2. run firmament and poseidon as pods (probably deployments later on) on the cluster
3. add a mutating admission control webhook that sets every pod.scheduler-name to Poseidon/Firmament scheduler

With steps above done, I'd suggest have different tests in this project to avoid duplication.

[2018-05-14 17:35] deepak-vij commented on #63
@m1093782566 Please see the following ongoing discussion in the following issue with Kevin. As I mentioned to Kevin that we are planning to do this exercise in the local cluster environment. Kevin suggested another way of running it as part of test.infra CI job. We will work on all this task once we have completed our ongoing node-affinity work, we have few urgent issues to resolve for this ongoij

[2018-05-15 08:31] m1093782566 opened #71 "e2e: Test Memory cost model"
cc @islinwb

[2018-05-15 08:36] m1093782566 opened #72 "e2e: Test node selector"

[2018-05-16 02:40] m1093782566 opened #77 "Support for node selector"
There is a PR adding e2e test cases related to node selector, but it keeps failing now. Probably because node selector which poseidon scheduler doesn't work properly. We need to figure it out.

@deepak-vij  @kevin-wangzefeng

/assign @m1093782566 @shivramsrivastava

[2018-05-16 10:18] #72 closed

[2018-05-17 02:13] hanxiaoshuai opened #78 "Local Cluster E2E test error"
When I use test/e2e-poseidon-local.sh to run local cluster E2E test, it returns a a panic. I want to know what should be defined in  kubeconfig file /root/.kube/config?
[code]

[2018-05-17 02:14] hanxiaoshuai commented on #78
/assign @shivramsrivastava

[2018-05-17 02:18] shivramsrivastava commented on #78
Kubeconfig if the file which has the credentials to connect to k8s cluster, this file will be generated when you setup the k8s cluster.

[2018-05-17 02:28] hanxiaoshuai commented on #78
@shivramsrivastava Thanks for your help, when I local-up-cluster.sh, I should copy the file KUBECONFIG=/var/run/kubernetes/admin.kubeconfig to $HOME/.kube/config

[2018-05-17 02:29] #78 closed

[2018-05-17 06:20] hanxiaoshuai opened #79 "e2e failed in local-up-cluster"
e2e failed in local-up-cluster. When I local-up-cluster, and use test/e2e-poseidon-local.sh to test E2E.
[code]
[code]
There are some error in kube-controller-manager.log
[code]

[2018-05-17 07:42] shivramsrivastava commented on #79
@hanxiaoshuai is your cluster stable.
Are you able to deploy other pods with a service using default-scheduler ?
Looks like some issue with your cluster, is the ```kube-proxy``` running?

[2018-05-17 07:45] m1093782566 commented on #79
can endpoint address of a service be `127.0.0.1`?

[2018-05-17 08:01] hanxiaoshuai commented on #79
Yes, I am able to deploy other pods with a service using default-scheduler., and kube-proxy is ok.

[2018-05-17 08:14] shivramsrivastava commented on #79
Yes endpoint cannot be a loopback address.

Can you check what it show with below commands?

```kubectl get svc -n poseidon-test -o wide```
```kubectl describe svc firmament-service -n poseidon-test```
```kubectl describe svc poseidon -n poseidon-test```

[2018-05-17 08:17] hanxiaoshuai commented on #79
[code]

[2018-05-17 09:17] shivramsrivastava commented on #79
@hanxiaoshuai You try the below to spin up gce cluster and run the e2e tests.
But you need to configure the gce before this including the gcr.io to push the images.

[code]

[2018-05-18 02:51] shivramsrivastava commented on #66
/assign

Working on this will be raising a PR shortly.

[2018-05-18 02:54] shivramsrivastava commented on #64
Addressed this issue in PR #76, hence closing this issue.

[2018-05-18 02:54] #64 closed

[2018-05-18 02:58] shivramsrivastava commented on #77
The PR #73 for node selector e2e test is passing now.
All issues fixed and the PR is merged now.
Hence closing this issue.

[2018-05-18 02:58] #77 closed

[2018-05-18 05:39] hanxiaoshuai opened #85 "refrain from using 'kubectl' command from out tests."
https://github.com/kubernetes-sigs/poseidon/blob/master/test/e2e/framework/framework.go#L115

fix todo:We need to refrain from using 'kubectl' command from out tests. use api to create service and deployment.

[2018-05-18 05:40] hanxiaoshuai commented on #85
/assign

[2018-05-18 06:17] islinwb commented on #71
/assign

[2018-05-19 12:28] m1093782566 opened #88 "Add support for max pod number hard requirement"
**User story:**

If node A can only run 10 Pods and already has 10 Pods running on it. Then, any Pod can't be scheduled to node A until the number of Pods running on node A decreases to less than 10.

**NOTE:** can we resolve it via CPU most model?

[2018-05-19 12:29] m1093782566 commented on #88
/cc @deepak-vij @shivramsrivastava

[2018-05-19 13:11] shivramsrivastava commented on #88
@m1093782566 Where do you want to specify this limit on a node?
Via a node lable?

[2018-05-19 13:25] shivramsrivastava commented on #88
You can limit the number of pods running in a node by setting the below flag on the firmament side.

```--max_multi_arcs_for_cpu=10```

But this will have a global effect, means firmament will not allow more than ```'10'``` task on any node in the cluster.

Currently, we don't have any capability to enable this on per node basis.
If you can further clarify your requirements it will be helpful.

[2018-05-19 13:32] m1093782566 commented on #88
@shivramsrivastava

There is a predicate in the default scheduler - PodFitsResource, xref: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/predicates.go#L695-L698

[2018-05-19 13:33] m1093782566 commented on #88
Meanwhile, there is an e2e test case in the default scheduler, xref: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduling/predicates.go#L120

[2018-05-21 11:37] m1093782566 commented on #52
cc @islinwb

[2018-05-22 03:55] jiaxuanzhou commented on #34
#42 merged, close this issue

[2018-05-22 03:55] #34 closed

[2018-05-22 09:11] islinwb commented on #79
@shivramsrivastava @m1093782566 Did the test/e2e-poseidon-local.sh ever succeeded? I tried several times but no luck so far.

[2018-05-23 07:59] jiaxuanzhou opened #93 "feature: support gpu scheduling"
As mentioned, we need to support gpu scheduling as GPU is widely used in AI scenarios.

[2018-05-23 08:49] jiaxuanzhou opened #94 "collect scheduling time and performance metrics"
1, add prometheus metrics exporters like scheduling time for performance monitoring

[2018-05-24 06:58] m1093782566 commented on #79
I just bumped the priority because it's important to our developing and local testing. @hanxiaoshuai will look into this.

[2018-05-24 08:44] hanxiaoshuai commented on #79
We should ```export HOSTNAME_OVERRIDE=$master-ip``` before running local-up-cluster.sh. ```$master-ip``` is the IP of your machine where will run k8s cluster.

[2018-05-24 14:49] jessfraz opened #99 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 14:52] shivramsrivastava commented on #99
/assign @deepak-vij

[2018-05-24 22:12] deepak-vij commented on #51
Here is the link to the Design Document for the ongoing Pod Affinity/Anti-Affinity implementation effort.

https://docs.google.com/document/d/1C68E1Thw7i9NGlHFwmnkgWmNSUK3z0oHdH2mLMK9Eyw/edit?usp=sharing

[2018-05-25 05:43] m1093782566 commented on #79
I think @hanxiaoshuai has resolved this issue so I am going to close this issue.

/close

[2018-05-25 05:43] #79 closed

[2018-05-25 05:54] hanxiaoshuai opened #100 "when a e2e case finished, the pod was not deleted in time"
[code]

[code]

[2018-05-25 05:54] hanxiaoshuai commented on #100
/assign

[2018-05-25 09:08] stewart-yu opened #101 "dev list about e2e"
There are one works about e2e need to do:
1. As PR [https://github.com/kubernetes-sigs/poseidon/pull/97](https://github.com/kubernetes-sigs/poseidon/pull/97) mentioned, we should generte `$HOME/.kube/config` content rather copy it.
....

[2018-05-25 09:08] stewart-yu commented on #101
/assign

[2018-05-26 03:46] stewart-yu commented on #54
/assign

[2018-05-28 01:21] islinwb opened #104 "Failed to create pods when memory request higher than 50%"
https://github.com/kubernetes-sigs/poseidon/pull/91 adds e2e test on memory cost. Test ci-poseidon-e2e-gce always fails when memory request's higher than 50%.

[2018-05-28 09:47] #104 closed

[2018-05-28 09:48] m1093782566 commented on #104
Why close this issue? It looks have not been resolved yet.

[2018-05-28 10:00] islinwb commented on #104
@m1093782566

[2018-05-28 11:16] m1093782566 opened #106 "Should add design document for node affinity"
As we almost finished the review work on node selector and node affinity design for firmament/poseidon scheduler, should we add the markdown-type document to this project? e.g. create a `docs/design` folder and drop the document in.

BTW, contributors should send design document PR before starting feature developing.

[2018-05-28 11:17] m1093782566 commented on #106
/cc @deepak-vij @shivramsrivastava

[2018-05-28 22:40] deepak-vij commented on #106
Definitely, we need to convert the GoogleDoc to MD format.

Also, going forward we need to have the design document ready prior to doing implementation. Till now, we have been following code-first approach. Going forward, as we are much more comfortable with the codebase and overall design, we need to follow the design document first approach. As a matter of fact, this is what we are doing for Pod

[2018-05-29 04:06] #24 closed

[2018-05-29 07:38] #71 closed

[2018-05-31 02:30] #100 closed

[2018-05-31 09:29] jiaxuanzhou opened #110 "should record events during pod/node was watched, pod scheduled/deleted and failed tasks"
as title described, events should be recorded to let the users know what happens during one scheduling task:
1, event for one pod watched, task submitted to firmament, failed/successful tasks from firmament and the reasons
2, event for on node watched/deleted

[2018-06-01 02:20] m1093782566 commented on #88
/assign @islinwb

[2018-06-01 02:27] islinwb commented on #88
/assign

[2018-06-01 02:31] m1093782566 commented on #88
@bentheelder

@islinwb is a kubernetes org member, why we can't assign issue to him? It's a bug?

[2018-06-01 02:38] BenTheElder commented on #88
@m1093782566 for kubernetes-sigs it has to be that org instead (or a repo collaborator).

[2018-06-01 02:40] m1093782566 commented on #88
Oh, I got it. Thanks @BenTheElder !

[2018-06-01 02:46] BenTheElder commented on #88
NP, as far as I know this is a GitHub limitation. I think soon we will get around this by having a tool automatically invite users from the kubernetes org to this one.

[2018-06-01 02:47] m1093782566 commented on #88
That would be great! @BenTheElder

[2018-06-04 20:12] marceloamaral opened #111 "The heapster-poseidon image is only available for x86 arch"
I am trying to run poseidon on PowerPC machines. However, I didn't find the source code of the image shivramsrivastava/heapster-poseidon, so that I cannot create an image for PowerPC arch.

In this case, could you please share the modified heapster source (heapster-poseidon), or generate the image for ppc64le arch?

What is the difference between the shivramsrivastava/heapster-poseidon and a regul

[2018-06-05 03:15] shivramsrivastava commented on #111
@marceloamaral
Sorry for the confusion, we had updated about the heapster sink in the developer's readme [here](https://github.com/kubernetes-sigs/poseidon/blob/master/docs/devel/README.md#developer-setup).

You can find the sink code [here](https://github.com/camsas/heapster).

We are not planning to support heapster sink anymore in Poseidon.
Since heapster will be depreciated soon in kubernetes,

[2018-06-06 07:35] m1093782566 commented on #20
I am going to close this issue since I have already put some comments in.

Any continuous work on that are always welcome.

[2018-06-06 07:35] #20 closed

[2018-06-06 19:43] deepak-vij commented on #88
Here is the link to the Design Document for the ongoing “Max Pods Allowed per Node” effort.

https://docs.google.com/document/d/193mSheIQomIWQQVG0jFQe76Vp9QVbu5K8EOI_20Jilc/edit#

[2018-06-06 19:45] deepak-vij commented on #52
Here is the link to the Design Document for the ongoing Taints & Tolerations effort.

https://docs.google.com/document/d/15gDgtQtEMZbygWOBVK6Lf5I12STLJZe015dWV2X3jEQ/edit?usp=sharing

[2018-06-08 07:14] m1093782566 commented on #94
/close

[2018-06-08 07:14] #94 closed

[2018-06-09 13:29] jiaxuanzhou opened #115 "poseidon should cache the node of the cluster"
1, cache the node obj to generate the resource view of the nodes in the cluster
2, optional but useful :  capability to provide api to get the whole resource usage of the cluster

[2018-06-12 06:47] resouer commented on #55
@deepak-vij  It would be good to see gang scheduling in this project :-) why not set it to higher priority? The default scheduler is also trying to ship this feature.

[2018-06-12 06:53] m1093782566 commented on #55
@resouer Because currently we are busy in developing pod affinity, taints & tolerations and preparing for performance test.

I think we can adjust the priority once we have all the tasks I mentioned done.

[2018-06-21 04:08] m1093782566 opened #119 "Create poseidon v0.3 release notes"
As we just released the poseidon v0.3 release, we should create a corresponding release note. There are already some good example available, reference: https://github.com/kubernetes-sigs/poseidon/tree/master/docs/releases

@hanxiaoshuai

[2018-06-21 04:10] hanxiaoshuai commented on #119
Sure. I'd like to join it

[2018-06-21 04:13] hanxiaoshuai commented on #119
/assgin

[2018-07-02 21:53] BenTheElder commented on #62
https://github.com/kubernetes/test-infra/issues/5896 is fixed

[2018-07-05 03:36] islinwb opened #125 "Poseidon pod stuck in "Init:0/1""
I followed guide in https://github.com/kubernetes-sigs/poseidon/blob/master/docs/install/README.md and tried it in two VMs. The poseidon pod stuck in "Init:0/1" in one of the VMs.

`docker logs <init-firmamentservice_contianer_ID>`:
[code]
`docker exec -it <init-firmamentservice_contianer_ID> sh`
[code]
After changing `firmament-service.kube-system` to `firmament-service.kube-system.svc.cluster.lo

[2018-07-05 03:37] islinwb commented on #125
@m1093782566 @shivramsrivastava @hanxiaoshuai Any thoughts?

[2018-07-05 03:38] m1093782566 commented on #125
/assign @shivramsrivastava

[2018-07-05 04:19] shivramsrivastava commented on #125
@islinwb do you have a DNS enabled for this cluster?

[2018-07-05 06:20] islinwb commented on #125
@shivramsrivastava Yes. `nslookup firmament-service.kube-system.svc.cluster.local` works fine but ` nslookup firmament-service.kube-system` fails.

[2018-07-20 21:44] guineveresaenger opened #127 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-08-17 06:37] #52 closed

[2018-08-17 06:40] shivramsrivastava commented on #51
Feature merged, hence closing this issue.

[2018-08-17 06:40] #51 closed

[2018-08-17 06:41] shivramsrivastava commented on #50
Feature merged, hence closing this issue.

[2018-08-17 06:41] #50 closed

[2018-08-20 02:55] m1093782566 opened #131 "Create v0.4 release note"
As we just released the poseidon v0.4 release, we should create a corresponding release note. There are already some good example available, reference: https://github.com/kubernetes-sigs/poseidon/tree/master/docs/releases

@hanxiaoshuai Can you do me a favor? Just like what we did for v0.3 :)

[2018-08-20 03:01] hanxiaoshuai commented on #131
sure /assign

[2018-08-20 03:03] m1093782566 commented on #131
/assign @hanxiaoshuai

[2018-08-21 19:10] deepak-vij opened #133 "Kubernetes Scheduling E2E Test Failures"
Currently, we are noticing good number of failures for Kubernetes E2E scheduling SIG tests. Based on our initial analysis, these tests work fine individually but fail when they are run together. Shiva has already sent out information to this regards.

[2018-08-21 19:16] deepak-vij commented on #127
This task is completed now.

[2018-08-21 19:16] #127 closed

[2018-08-21 20:40] deepak-vij opened #134 "Kubernetes Storage E2E Test Failures"
Currently, we are noticing good number of failures for Kubernetes E2E storage SIG tests. We need to triage and hopefully resolve them soon.

[2018-08-21 20:42] deepak-vij opened #135 "Kubernetes Networking E2E Test Failures"
Currently, we are noticing good number of failures for Kubernetes E2E networking SIG tests. We need to triage and hopefully resolve them soon.

[2018-09-12 02:44] #131 closed

[2018-09-19 15:50] deepak-vij commented on #135
Closing this issue as based on further investigation it turned out that none of the networking SIG related failures were due to scheduling (Firmament or default scheduler). There were some environment related issues.

[2018-09-19 15:50] #135 closed

[2018-10-10 02:43] deepak-vij commented on #55
Yes, we have been successfully able to enable the following Gang Scheduling functionality as part of Poseidon/Firmament scheduling:

1)	Strict Gang Scheduling: all-n (all or nothing) scheduling, some jobs cannot make progress unless all their tasks are schedulable.
2)	Relaxed Gang Scheduling: k-of-n scheduling, some jobs can begin processing even as tasks are scheduled incrementally.

We are still

[2018-10-10 04:18] jiaxuanzhou commented on #55
@deepak-vij that's great!

[2018-10-11 02:18] jiaxuanzhou commented on #110
event for pod supported by #138

[2018-10-11 21:35] deepak-vij commented on #55
Here is the in-progress [design document](https://docs.google.com/document/d/1phQOkIgvjNFq8fuu-_yrzth2S7m0NPCoCGCf7K6U--w/edit?usp=sharing)

[2018-10-15 11:22] islinwb opened #144 "`make` fails after running `dep ensure` and `hack/update-bazel.sh`"
**What happened**:
`make` fails after running `dep ensure` and `hack/update-bazel.sh`

**How to reproduce it (as minimally and precisely as possible)**:
1. fetch the code in `master`
2. run `dep ensure` and `hack/update-bazel.sh`
3. run `make`

the error occurs:
[code]
**Possible cause**
In v1.11.0(https://github.com/kubernetes-sigs/poseidon/blob/master/Gopkg.toml#L52-L54), `teststale` has been re

[2018-10-15 11:32] islinwb commented on #144
/cc @shivramsrivastava @m1093782566

[2018-10-15 11:34] m1093782566 commented on #144
I have no attachment of go version as long as it works fine with poseidon project.

[2018-10-15 12:06] #144 closed

[2018-10-25 08:19] m1093782566 opened #145 "Create v0.5 release note"
cc @hanxiaoshuai

[2018-10-30 22:06] deepak-vij commented on #106
Design document is already created now. Closing this issue.
https://github.com/kubernetes-sigs/poseidon/blob/master/docs/design/node_affinity_and_selector_for_poseidon.md

[2018-10-30 22:06] #106 closed

[2018-10-30 22:08] deepak-vij commented on #134
We have resolved all the earlier failures observed during K8S e2e testing. The only remaining ones are related to support for "Dynamic Volume Binding". Dynamic volume binding functionality is currently not supported in Poseidon/Firmament. We have been advised by Storage/Scheduling SIG folks to stay away from it as there is an ongoing refactoring effort for this particular functionality in K8S.

[2018-11-05 19:36] deepak-vij opened #146 "looks good, but one suggestion:"
the proposal does not mention the priority of the jobs, here is one scenario:
job1 (high priority), job2(low priority)
pods of job0 are running, pods of job1/job2 are pending as there is not enough resource,
when job0 completed, resource is released and can only satisfy  the request of job1 or job2, but only  pods of job1 can be placed as it has high priority.

would you also consider this feature

[2018-11-05 19:39] deepak-vij commented on #146
We are soon going to implement priority based scheduling of jobs. This is quite easy as priority of a pod becomes part of the equation for calculating cost of arcs between nodes. Currently cost is determined using CPU/Mem only.

[2018-12-21 09:39] fejta commented on #99
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2018-12-21 09:39] #99 closed

[2018-12-26 05:21] asifdxtreme opened #157 "Test guide for poseidon installation has a bug"
Docker Image specified in the yaml in this [step](https://github.com/kubernetes-sigs/poseidon/tree/master/docs/install#testing-the-installation) is missing.

[2018-12-26 05:28] asifdxtreme opened #158 "Redundant License files present in sub-directories"
There are some redundant license files which are present in some sub-directories, it is generally recommended to put all these files in a licenses folder and refer this license file wherever used or just put a usage notice for these files in main License file.
 - [ ] All txt files in https://github.com/kubernetes-sigs/poseidon/tree/master/hack/boilerplate

[2018-12-26 05:32] asifdxtreme opened #159 "Missing Test Coverage report"
It will be great if we can add a badge of coverage report next to build report in main README file

[2018-12-26 10:36] #157 closed

[2018-12-27 03:36] asifdxtreme commented on #145
missing release notes for v0.6 as well

[2018-12-27 03:40] m1093782566 commented on #145
Yes, @asifdxtreme would you please help this task out?

[2019-01-24 03:56] shivramsrivastava commented on #110
This issue is addressed by the PR #138.
We now have events support in Poseidon, success and failure events are sent from Poseidon after this PR.
Hence closing this issue.

[2019-01-24 03:57] #110 closed

[2019-01-24 03:57] shivramsrivastava commented on #125
@islinwb is this issue resolved? or still exist?
Can you please update on this Issue?

[2019-02-21 12:14] pratikmeher44 opened #169 "Duplicate AddTaskInfo call for Poseidon scheduled pods after pods move to running state"
AddTaskInfo should send pod information from Poseidon to Firmament only for pods scheduled by default scheduler. But AddTaskInfo is also sending pod information for pods scheduled by Poseidon. This results in duplicate addition of pod information in Firmament.

Suggestion is to filter out Poseidon scheduled running pods and send only pod information for pods scheduled by default scheduler to Firma

[2019-04-24 19:07] deepak-vij commented on #115
@jiaxuanzhou you want to work on this issue. Otherwise, we can close this for the time being. We can always re-open it once we have someone available to implement this. Thanks.

[2019-04-26 04:34] deepak-vij commented on #133
This issue is resolved now. Closing this issue.

[2019-04-26 04:34] #133 closed

[2019-04-26 04:36] deepak-vij commented on #55
We have already implemented basic Gang Scheduling functionality. Closing this issue.

[2019-04-26 04:36] #55 closed

[2019-04-26 06:29] #88 closed

[2019-04-26 15:45] deepak-vij commented on #134
We are closing this issue at this time. Errors related to dynamic volume provisioning we will address it at a later time.

[2019-04-26 15:45] #134 closed

[2019-04-26 17:36] deepak-vij commented on #146
We are going to start this work shortly as part of enabling rich batch processing within Poseidon/Firmament.

[2019-04-27 23:32] deepak-vij commented on #145
Closing this, as this task was completed a while back.

[2019-04-27 23:32] #145 closed

[2019-04-28 02:20] kevin-wangzefeng commented on #60
Project status and roadmap have been revised, closing this issue.
/close

[2019-04-28 02:20] #60 closed

[2019-05-23 08:18] NickrenREN opened #171 "Can not schedule the newly created pod when Job failed"
Deployed as suggested [here](https://github.com/kubernetes-sigs/poseidon/tree/master/docs/install)

When i create the job, the pod created by the job controller is scheduled as expected, but if the pod failed, the job controller will create a new pod, the new pod can not be scheduled.

[code]

[2019-05-23 08:19] NickrenREN commented on #171
The newly created pod will keep pending, and does not have any events.

[2019-05-23 08:28] NickrenREN commented on #171
@deepak-vij @shivramsrivastava @m1093782566

[2019-05-23 10:21] pratikmeher44 commented on #169
/close

[2019-05-23 10:21] #169 closed

[2019-05-23 15:31] deepak-vij commented on #63
Closing this issue as e2e testing is completed now.

[2019-05-23 15:31] #63 closed

[2019-05-23 19:34] deepak-vij commented on #65
We will revisit this issue at a later time. Closing this for now, will reopen it at a later time.

[2019-05-23 19:34] #65 closed

[2019-05-24 02:33] deepak-vij commented on #54
Leaving this open for the time being, we will get to it when possible.

[2019-05-24 02:33] deepak-vij commented on #56
Leaving this open for the time being, we will get to it when possible.

[2019-05-24 02:34] deepak-vij commented on #53
Leaving this open for the time being, we will get to it when possible.

[2019-05-24 02:34] deepak-vij commented on #57
Leaving this open for the time being, we will get to it when possible.

[2019-05-24 02:35] deepak-vij commented on #66
Leaving this open for the time being, we will get to it when possible.

[2019-05-24 02:35] deepak-vij commented on #93
Leaving this open for the time being, we will get to it at a later time.

[2019-05-24 02:36] deepak-vij commented on #111
Leaving this open for the time being, we will get to it when possible.

[2019-05-24 19:42] deepak-vij commented on #115
Closing this for now. We will re-open it at a later time.

[2019-05-24 19:42] #115 closed

[2019-05-28 17:16] deepak-vij commented on #146
Leaving this open at this time, we will get to it soon.

[2019-05-28 17:17] deepak-vij commented on #159
Leaving this open at this time, we will get to it soon.

[2019-05-28 17:18] deepak-vij commented on #158
Leaving this open at this time, we will get to it soon.

[2019-06-22 15:54] #40 closed

[2019-06-22 20:59] #101 closed

[2019-06-23 03:05] #54 closed

[2019-06-23 03:05] #56 closed

[2019-06-23 03:05] #53 closed

[2019-06-23 03:05] #57 closed

[2019-06-23 04:06] #66 closed

[2019-06-23 04:06] #93 closed

[2019-06-23 04:06] #111 closed

[2019-06-27 17:53] #146 closed

[2019-06-27 17:53] #158 closed

[2019-06-27 17:53] #159 closed

[2019-08-22 14:08] NickrenREN commented on #171
/remove-lifecycle stale

[2019-08-22 14:08] NickrenREN commented on #171
This is caused by Firmament

/close

[2019-08-22 14:08] #171 closed

[2019-10-23 20:41] jeffgx619 opened #175 "Do we support GPU scheduling now ?"

[2019-10-23 21:11] deepak-vij commented on #175
No, at this time.

[2019-10-23 21:24] jeffgx619 commented on #175
Do we have plan to support it ?

[2019-10-23 21:38] deepak-vij commented on #175
Plan is definitely to provide support for GPUs down the road.

[2019-11-17 23:58] ahg-g opened #178 "Project status"
Hi all, I am sig-scheduling co-chair, I see that this project is not super active and I am wondering about the status of this project?

[2019-11-27 02:18] Jianzs opened #179 "Can multiple policies be implemented simultaneously"
I read the paper, Firmament. But I met a question. Can multiple policies be implemented simultaneously? If so, when we use more than 1 policies, task nodes would connect more than one machines or aggregators. So when we extract the task placements, task nodes may receive different placements from different successor nodes. How to handle this?

[2019-11-27 19:38] deepak-vij commented on #179
I don't think you can apply multiple scheduling policies simultaneously at a given time. You would need to implement/incorporate multiple policies as one consolidated policy, if this is what you desire. Thanks.

[2019-11-28 02:01] Jianzs commented on #179
Good idea! Thanks! If I want to put data locality policy and network-aware policy together, I can make them as one consolidated policy. Probably, there are two arcs between one task and one machine, because of two sub policies. But take node have only one unit flow. Finally, the flow will proceed through one of arcs mentioned above. So, when we extract the task placements, each task node is paired

[2019-12-01 14:10] mrbobbytables commented on #178
/assign @deepak-vij

[2019-12-02 01:17] deepak-vij commented on #178
Yes, there hasn't been activity for few months now. We will hopefully resurrect follow on activities soon. Thanks.

[2019-12-04 13:54] mrbobbytables commented on #178
@deepak-vij We'll need to do a little bit of "repo maintenance" to continue.
1) Outside collaborators need to be removed or [become members](https://github.com/kubernetes/community/blob/master/community-membership.md#member) of the kubernetes-sigs org. (ref: https://github.com/kubernetes/community/issues/3178). This includes:
    - @deepak-vij - Implicitly allowed to join k-sigs as a member of kub

[2019-12-04 16:04] deepak-vij commented on #178
Sounds good, we will work on it. Thanks.

[2019-12-04 19:03] deepak-vij commented on #179
Correct. One consolidated policy that factors in locality & network awareness together while assigning cost to an arc should work.

[2019-12-05 01:31] Jianzs commented on #179
OK. Thank you!

[2019-12-05 01:31] #179 closed

[2019-12-05 17:40] mrbobbytables commented on #178
All outstanding issues have been resolved. Thanks for helping with this!
/close

[2019-12-05 17:40] #178 closed

[2020-02-20 23:11] #175 closed

[2020-03-18 04:26] chauncey-77 opened #181 "how to get poseidon's metrics data"
I want to see the scheduling time of Pods scheduled by poseidon, but i don't know to get it, that is I want  to get poseidon's metrics data. Please let me know or tell me how to do, thank you!

[2020-03-18 15:28] deepak-vij commented on #181
Please see the link below for benchmark numbers. Thanks.

https://github.com/kubernetes-sigs/poseidon/blob/master/docs/benchmark/README.md

[2020-03-18 23:39] chauncey-77 commented on #181
Thank you for your reply, but i have seen the link already. I want to get the merics data from different situation by myself, so I can understand the advantage deeply. Please tell me more, thanks.

[2020-03-19 00:30] deepak-vij commented on #181
Please use the detail installation steps (as per the main Poseidon landing read.me page) to install Poseidon/Firmament and try out various scenarios. Thanks.

[2020-03-19 01:26] chauncey-77 commented on #181
Thanks for your reply. I have installed Poseidon/Firmament in my k8s cluster, and it works will. And then, I want to collect the metrics, but I don't how to do. Maybe there is a method to get the metrics like kube-scheduler do(using curl command), but I don't know the url. Can you tell me how to do? Thanks a lot.

[2020-03-19 01:35] deepak-vij commented on #181
The detail benchmark testing we did, as shown in the benchmark page, was using KubeMark. It is quite tricky though. This is primarily because KubeMark does not scale beyond certain no. of hollow nodes in a cluster. This is due to API Server related memory requirements. In order to test higher no. of nodes (1000, 2000, and beyond) we had to write our own scripts as KubeMark did not work for us beyo

[2020-03-19 01:45] chauncey-77 commented on #181
That is to say, I can't get the time consumption of each pod(or some pods) scheduling now? Or to say, I can get the scheduling time, but the number of pods should be less than a certain scale?

[2020-03-25 11:00] chauncey-77 commented on #181
The poseidon metrics can be getten using curl tool, the url is ${poseidon pod ip}:8989/metrics. Note that 8989 is the default ip defined in config.go.

[2020-03-25 11:00] #181 closed

[2020-03-25 11:34] chauncey-77 opened #182 "why pending pods can't be scheduled before poseidon restart?"
I used poseidon to create a deployment named nginx with replicas 300. After some minutes, there are 175 nginx pods running in the cluster, but other 125 pods pending. And it's be a long time. PS: poseidon logs say "Scheduler returned 71 deltas" and "Scheduler returned 104 deltas".
About 5 hours later, when I look the stats of the nginx deployment again, all the 300 pods running successfully in the

[2020-03-25 13:21] hykych opened #183 "do you have tools or scripts available to do benchmark and generate report?"
Since there is a benchmark result, I believe there are scripts to do this.
Where I can find them, I want to run the benchmark myself.

[2020-04-30 07:57] chauncey-77 opened #184 "Benchmark was done using which flow cost model?"
Hi, I want to know which firmament cost model you chose to do the benchmarking. Please tell me, thanks.
Cost models can be found here [cost models](https://github.com/huawei-cloudnative/firmament).

[2020-04-30 15:42] deepak-vij commented on #184
In order to do apple versus apple comparisons with Kubernetes, all of our Poseidon/Firmament work was using our brand new multi-dimensional CPU-Memory cost model. All other original Firmament cost models are all single dimensional. Doing multi-dimensional graph programming has some challenges and complexities to deal with, we had to find ways around it in few instances.

[2020-04-30 23:10] chauncey-77 commented on #184
thanks for your reply. thank you.

[2020-04-30 23:36] #184 closed

[2020-05-02 09:09] #182 closed

[2020-05-05 00:04] chauncey-77 opened #185 "How to deploy firmament flow scheduler in cluster?"
Is there any doc about how to deploy firmament flow scheduler in cluster, like some explanation or a yaml file like this [here](https://raw.githubusercontent.com/kubernetes-sigs/poseidon/master/deploy/firmament-deployment.yaml), which I think is order to deploy firmament simple scheduler in cluster?
Thanks.

[2020-05-05 00:08] deepak-vij commented on #185
https://github.com/camsas/firmament/blob/master/README.md#building-instructions. This is all documented under Developer guide document link as below.

https://github.com/kubernetes-sigs/poseidon/blob/master/docs/devel/README.md

[2020-05-13 03:39] #185 closed

[2020-05-13 04:00] chauncey-77 opened #186 "A question about how many pods can be scheduled at one time using poseidon."
Hi, this is my situation:
I try to schedule 300 pods at one time, but it likes that poseidon will divide the 300 pods into two part, e.g. 185 pods and 115 pods, and schedule each part alone. I want to know what factors lead to such division, and the possibility of increasing the number of pods scheduled at one time, so I read the code for a long time but have no conclusion. Please give me some tip

[2020-05-13 15:56] deepak-vij commented on #186
Poseidon has a scheduler loop that starts a Firmament scheduling round upon previous round’s completion. Poseidon/Firmament scheduler runs continuously and picks up however many pods are available in “Pending” state as part of the batch processing. This is all described in the Poseidon design document [https://github.com/kubernetes-sigs/poseidon/blob/master/docs/design/README.md](url).

[2020-10-10 17:56] #186 closed

[2021-04-13 17:34] Huang-Wei opened #187 "Status of poseidon"
Per requirement from the Kubernetes steering committee, we'd like to make the latest status of each sub-project clearly documented to the public.

@deepak-vij Given the commits history, I suppose poseidon is no longer actively developed. So shall we either document the status in README, or make it archived?

[2021-04-13 17:51] deepak-vij commented on #187
Hi @Huang-Wei , we would like to keep the project active at least till end of the year. Thanks.

[2021-04-13 18:55] Huang-Wei commented on #187
Thanks @deepak-vij for confirming. It's fine to keep it active till end of this year.

[2021-04-13 18:56] deepak-vij commented on #187
Thank you, appreciate it.

[2021-07-17 01:10] spiffxp commented on #187
I would like to land https://github.com/kubernetes-sigs/poseidon/pull/188 but this repo's tests are broken.  Given the activity on this repo I find it unlikely they're going to get fixed.

Can you help me understand what the requirement is to keep this active? There's been no traffic since 2019.  What would be the implications for you of moving this to https://github.com/kubernetes-retired?

[2021-07-17 01:27] deepak-vij commented on #187
Hi @spiffxp, as I mentioned in another thread that we can go ahead and retire this project. Please let me know what do I need to do to that regards. Thanks.

[2021-07-19 13:57] spiffxp commented on #187
Thanks @deepak-vij

Open an issue to retire the repo in kubernetes/org and the github admin team can take it from there: https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-repo&template=repo-archive.md&title=

[2021-07-27 16:39] deepak-vij commented on #187
Hi @spiffxp, to keep you updated on this. There seems to new interest from developers who recently reached out to me. I would request you to hold off on retiring the repo at this time. First thing I will ask the developers to straighten out the the broken tests. Thanks.

[2021-10-04 19:18] spiffxp commented on #187
/reopen
Can we retire this project?

[2021-10-04 19:20] spiffxp commented on #187
@deepak-vij No activity has occurred since you commented here: https://github.com/kubernetes-sigs/poseidon/issues/187#issuecomment-887663921

Shall we retire this?

[2021-10-10 20:06] deepak-vij commented on #187
Sorry @spiffxp, I just saw this message. Let us go ahead and archive this repo. However, prior to doing this, a question for you. How much time and effort it will take in future if we need to revive back this project and recover the repo from archive? Thanks.

[2022-02-15 22:15] Huang-Wei commented on #187
/reopen

Ref https://github.com/kubernetes/community/pull/6467#discussion_r806914761, given the inactive development and unclear strategic roadmap, shall we archive poseiden?

[2022-02-15 22:25] deepak-vij commented on #187
Please do. Thanks.

[2022-02-16 01:03] Huang-Wei commented on #187
@deepak-vij Thanks for confirming. Submitted an archiving request: https://github.com/kubernetes/org/issues/3262

cc @ahg-g

[2022-02-16 01:12] ahg-g commented on #187
Thanks Wei

/lgtm

[2022-03-18 01:24] #187 closed